.header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 40px;
    margin-right: 10px;
}

.header-menu a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.header-menu a:hover {
    text-decoration: underline;
}



body {
    background-color: #1A1A1A;
    font-family: "JetBrains Mono", sans-serif;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.header_bar {
    padding-top: 1%;
    padding-right: 2.5%;
    text-align: end;
    vertical-align: center;
}

.header_item {
    display: inline;
    color: #888888;
    padding-left: 2.5%;
    vertical-align: center;
}

.header_logo {
    display: inline;
    color: #888888;
    padding-left: 2.5%;
    align-content: start;
    vertical-align: center;
    float: left;
}

.header_item:hover {
    display: inline;
    color: darkred;
    padding-left: 2.5%;
    cursor: default;
}

.body_container {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    bottom: 0;
    text-align: center;
}

.upper_spacer {
    height: 35%;
}

.full_body {
    display: inline-block;
    width: 100%;
    flex-grow: 1;
}

.title_body {
    font-size: xxx-large;
    color: #FFF;
}

.subtitle_body {
    color: #FFF;
}

.lower_spacer {
    height: 1px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer_container {
    text-align: center;
    position: fixed;
    width: 90%;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

.footer_img {
    display: inline;
    margin: 0 2%;
}

/* latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v18/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxTOlOV.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v18/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxTNFOVgaY.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}